@import 'theme.css';

.wy-side-nav-search .wy-dropdown>a img.logo,
.wy-side-nav-search>a img.logo {
	height: 60px;
}
.vmpc-lcd-screenshot {
    margin-top: -0.4em !important;
    margin-bottom: 1em !important;
    width: 400px;
    align: center;
    display: block;
}
